* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  padding: 40px;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px 20px;
  transition: transform 0.3s ease;
  height: 200px; 

  h3 {
    margin-bottom: 10px;
    color: #333;
  }

  p {
    font-weight: bold;
    color: #00adb5;
  }

  &:hover {
    transform: scale(1.05);
  }
}


